/****** Index Home *****/
/***********************/

/****** NAVIGATION *****/
/***********************/

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

/****** HERO IMAGES *****/
/************************/

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url("../img/image-1.png");
  background-size: cover;
}

.carousel-image-2 {
  background: url("../img/image-2.png");
  background-size: cover;
}

.carousel-image-3 {
  background: url("../img/image-3.png");
  background-size: cover;
}

/***** HOME HEADING *****/
/************************/

#home-heading {
  position: relative;
  min-height: 200px;
  background: url("../img/image-4.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 100%;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#video-play {
  position: relative;
  min-height: 200px;
  background: url("../img/image-6.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 10%;
  text-align: center;
  color: #fff;
}

#video-play a {
  color: #fff;
}

/****** About Page *****/
/***********************/

#page-header {
  height: 200px;
  background: url("../img/image-2.png");
  background-position: 0 -530px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

.about-img {
  margin-top: -30px;
}

/****** Services Page *****/
/**************************/

#faq .card {
  border: #444;
}

#faq a {
  color: #fff;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: #333;
}
